﻿.brand-filter{display:flex;flex-wrap:wrap;
    li{list-style:none;text-align:center;min-width:29px;max-width:29px;
       a{font-size:20px;}
    }
     li.active-link {
    a {
        color:$anchor-tag-hover !important;
    }
}
}
.brand-list-widget{
    ul{list-style:none;display:flex;
       li{text-align:center;
           a{
               .img-fluid{width:80%;}
               label{font-family:$base-font-family-bold;font-size: $base-font-size + 4;text-transform: uppercase;margin-bottom:15px;margin-top:15px;}
           }
       }
       
    }
}
.brands-section{
    color: #fff;
    display: block;
    width: 100%;
    height: 30px;
    background: #eceeef;
    //transform: skewY( 1deg);
    height: 100%;
}