﻿// Product Alternate Images.
.product-view-details .product-images{
    .alternate-img{
        .item{
            img{text-align:center;border:2px solid $black;display:block;width:100%;margin:0 auto;
                &:hover{border:2px solid $base-primary;}
            }
            .videoimgset{padding: 17px 21px !important;}
        }
    } 
    .owl-theme .owl-controls{
        .owl-buttons div span:before{font-size:10px;padding:10px;}
        .owl-buttons .owl-prev,.owl-buttons .owl-next{margin:0;line-height:26px;opacity:1;font-family:$znode-icon-font !important;position:absolute;position:absolute;top:50%;transform:translate(0,-50%);
                &:hover{background-color:$base-primary;color:$white}
        }
        .owl-buttons .owl-next{right:-13px;}
        .owl-buttons .owl-prev{left:-13px;}
    }
}
.YouTubeFrame {
    width: 100%;
}
// Product Zoom Effect Out.
/*.simpleLens-gallery-container{margin-top:3%;margin-bottom:25px;
    .simpleLens-container{display: table;position:relative;margin:0 auto;-ms-transform: none;}
    .simpleLens-big-image-container {display:table-cell;vertical-align:middle;text-align:center;position:relative;width:100%;-ms-transform: none;
            .simpleLens-lens-image {height:auto !important;width: 100%;display: inline-block;text-align: center;margin:0;box-shadow:none;float:none;position:relative;-ms-transform: none;
                    .simpleLens-big-image {max-width:100%;-ms-transform:none;}
                    .simpleLens-mouse-cursor{background-color:#ccc;opacity:0.2;filter: alpha(opacity = 20);position:absolute;top:0;left:0;border:1px solid $border-default;box-shadow:0 0 2px 2px #999;cursor:none;-ms-transform: none;}
            }
    }
}

.simpleLens-lens-element {background-color:$white;box-shadow: 0 0 2px 2px #8e8e8e;height:100%;left:105%;overflow:hidden;position:absolute;top:0;width:100%;z-index:9999;text-align:center;-ms-transform:none;
         img{position:relative;top:0;left:0;width:auto !important;max-width:none !important;-ms-transform: none;}
}*/

//  B2B CSS
.product-altimages{
    .alternate-img{padding:20px 0;border-top:2px solid $base-tertiary-light;
        .item img{max-height:75px;max-width:75px;}
    }
}

// For IE11 Only.
*::-ms-backdrop, .simpleLens-gallery-container .simpleLens-container {display:block;}
*::-ms-backdrop, .simpleLens-gallery-container .simpleLens-big-image-container {display:inline-block;vertical-align:middle;} 
*::-ms-backdrop, .simpleLens-gallery-container .simpleLens-big-image-container:before {content:"";height:100%;display:inline-block;vertical-align:middle;}

// PDP View Template.
/*.big-view-template{
    .simpleLens-container{height:585px;}
}
.small-view-template{
    .product-view-details .product-images .alternate-img{padding:20px;}    
    .simpleLens-gallery-container .simpleLens-big-image-container .simpleLens-lens-image {width:70%;}
    .simpleLens-container{height:275px;}
    .simpleLens-lens-element {left: 85%;}
}*/

// Product Zoom Effect In.
.easyzoom{position:relative;}
.easyzoom-flyout,.easyzoom-notice{position:absolute;background:$white}
.easyzoom img{vertical-align:bottom;}
.easyzoom.is-loading img{cursor:progress}
.easyzoom.is-ready img{cursor:crosshair}
.easyzoom.is-error img{cursor:not-allowed}
.easyzoom-notice{top:50%;left:50%;z-index:150;width:10em;margin:-1em 0 0 -5em;line-height:2em;text-align:center;box-shadow:0 0 10px #888}
.easyzoom-flyout{z-index:100;overflow:hidden}
.easyzoom-overlay .easyzoom-flyout{top:0;left:0;width:100%;height:100%}
.easyzoom-adjacent .easyzoom-flyout{top:0;left:100%;width:100%;height:100%;margin-left:20px}
.easyzoom .easyzoom-img{display:table;max-width:100vw;max-height:100vh;text-align:center;}

// Media Query.
@include screensize(x-small) {
    .YouTubeFrame{ height:290px;}
    }
/*@include screensize(x-small) {
    .simpleLens-lens-element {display:none;}
    .easyzoom img{width:310px;}
    .big-view-template{
        .simpleLens-container{height:290px;}
    }
}
@include screensize(small) {
    .easyzoom img{width:auto;}
    .big-view-template{
        .simpleLens-container{height:555px;}
    }
}*/
@include screensize(medium) {
    .YouTubeFrame {
        height: 395px;
    }
}
