﻿// Product Tab.
.product-details-tab {margin:30px 0;
    .nav-tabs{display:none;border:none;
        li{display:flex;text-transform:uppercase;text-align:center;font-family:$base-font-family-bold;width:100%;flex:1;
            a{color:$text-default;letter-spacing:1px;width:100%;border-bottom:1px solid $base-tertiary-light;padding:10px;font-size:$base-font-size;
                &.show {color:$base-primary;border-bottom:2px solid $base-primary;}
            }
        }
    }
    .card-header{color:$text-default;letter-spacing:1px;text-transform:uppercase;}
    .tab-content{min-height:250px;overflow:auto;
        > .tab-pane{border:0;border-radius:0;display:block;opacity:1;}
        h5{font-size:$base-font-size;margin:0;}
        ul{padding-left:25px;}
    }
}

.b2b-product-tabs{background-color:$input-background;}

@include screensize(small){
    .product-details-tab{padding:0 15px;}
}

@include screensize(medium){
    .product-details-tab{
        .card{
            .card-header{display:none;}
            .collapse{display:block;font-size:$base-font-size + 2}
        }
        .tab-content{max-height:350px;
            > .tab-pane{display:none;
                &.active{display:block;height:100%;}
            }
        }
    }
}