﻿.b2b-form{
    .form-group .form-title{margin:0;}
    .form-title{font-family:$base-font-family-bold;letter-spacing:1.25px;padding-left:3px;font-size:$base-font-size + 2;}
    .form-title-big{font-family:$base-font-family-bold;letter-spacing:1.25px;font-size:$base-font-size + 4;}
    .hidden-field{display:none;}
    .form-group select{width:100%;height:38px;border: 1px solid #9E9E9E;}
}