﻿@using Znode.Engine.WebStore.ViewModels
@model CategoryViewModel
@{ 
        var domainurl = HttpContext.Current.Request.Url.GetLeftPart(UriPartial.Authority);
}
<div class="item b2b-categories">
    <a href="@domainurl@Url.GetCategoryUrl(Model.SEODetails?.SEOUrl, null, Model.CategoryId)">
        <img data-test-selector="imgCategoryImage" id="@Model.CategoryId" src="@Model.ImageSmallPath" alt="img-CategoryName" class="img-fluid" data-src="@Model.ImageSmallPath" />
        <span data-test-selector="lblCategoryName">@WebUtility.HtmlDecode(Model.CategoryName)</span>
    </a>
</div>

