﻿@using Znode.Engine.WebStore.ViewModels
@using Znode.Libraries.ECommerce.Utilities
@model RMAReturnOrderDetailViewModel
@{
    string title = string.IsNullOrEmpty(Model.ReturnNumber) ? @WebStore_Resources.TitleCreateReturn : @WebStore_Resources.TitleEditReturn;
    string displayDivReturnNotesAndButtons = (!string.IsNullOrEmpty(Model?.OrderNumber) && Model?.ReturnCartViewModel != null && Model?.ReturnCartViewModel?.ShoppingCartItems?.Count > 0) ? "" : "none";
}
<div class="main-wrapper col" id="divSelectReturnId">
    <div class="row">
        <div class="container-fluid profile-dashboard">
            <div class="row">
                <div class="container">
                    @Html.Partial("_AccountMenuDashboard")
                </div>
            </div>
        </div>
    </div>
    <div class="row b2b-breadcrumbs d-none d-md-block">
        <div class="container">
            <div class="row">
                <!-- Breadcrumb -->
                <div id="breadCrumb" class="col breadcrumb-container"><a href="/" class="home-icon pr-2" title="Home"></a><a href="/User/Dashboard">@WebStore_Resources.TitleMyAccount</a> / <a href="/RMAReturn/GetReturnList">@WebStore_Resources.TitleReturnHistory</a> / @title</div>
            </div>
        </div>
    </div>
    <div id="layout-account-orderhistory" class="row">
        <div class="container">
            <div class="row user-account">
                <div class="col-12 account-dashboard">
                    <div class="row mb-5">
                        <div class="col-12 col-lg-12 order-history right-container">
                            <div class="row no-gutters">
                                <div class="col-12 p-0">
                                    <h1 class="page-title"> @title</h1>
                                </div>
                                <div class="col-12 p-0 mb-4 dashboard-content">
                                    <div class="col-12 product-search p-0">
                                        <div class="col-12 filter-component border-bottom d-flex justify-content-between align-items-center">
                                            <div class="select-return-order d-flex align-items-center">
                                                <label class="mr-3 mb-0 text-uppercase">@WebStore_Resources.LabelTextSelectYourOrderNumber</label>
                                                @if (string.IsNullOrEmpty(Model.ReturnNumber))
                                                {
                                                    <div class="control-md account-typehead">
                                                        <div data-test-selector="drpReturnNumber">
                                                            @Html.FastSelectFor(model => model.OrderNumber, model => model.OrderNumber, "GetSuggestions", "Typeahead", "RMAReturn.prototype.GetOrderDetailsForReturn", 1, false,
                                                            new
                                                            {
                                                                htmlAttributes = new { @placeholder = WebStore_Resources.LabelAllOrders, @class = "", @id = "txtOrderNumber", @data_test_selector = "txtOrderNumber",@TItle="txtOrderNumber" },
                                                                parameters = new { @type = ZnodeTypeAheadEnum.EligibleReturnOrderNumberList.ToString(), @fieldname = "", @query = "", @mappingId = 0, @pageSize = ZnodeConstant.TypeAheadPageSizeForOrderReturn,Title="txtOrderNumber" }
                                                            })
                                                        </div>
                                                    </div>
                                                }
                                                else
                                                {
                                                    <select id="drpOrderNumber" disabled="disabled" data-test-selector="drpReturnNumber">
                                                        <option value="@Model.OrderNumber" selected="selected">@Model.OrderNumber</option>
                                                    </select>
                                                }
                                            </div>
                                            <div>
                                                <a href="/RMAReturn/GetReturnList" class="btn btn-secondary mr-2 mb-2 mb-sm-0 px-4" data-test-selector="linkReturnListCancel">@WebStore_Resources.ButtonCancel</a>
                                            </div>
                                        </div>
                                        <div class="return-order-detail">
                                            @if (!string.IsNullOrEmpty(Model?.OrderNumber) && Model?.ReturnCartViewModel != null && Model?.ReturnCartViewModel?.ShoppingCartItems?.Count > 0)
                                            {
                                                @Html.Partial("../RMAReturn/ReturnItemsList", Model)
                                            }
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 p-0 mb-4">
                                    <div id="divReturnNotesAndButtons" style="display:@displayDivReturnNotesAndButtons">
                                        <div><span style="font-size: 22px;">@WebStore_Resources.LabelNotes</span></div>
                                        <div class="col-12 p-0">
                                            @Html.TextAreaFor(Model => Model.ReturnNote, new { rows = "5" ,@Title= "ReturnNote" })
                                            <input type="hidden" id="hdnOldReturnNote" value="@Model.ReturnNote" />
                                        </div>
                                        <div class="col-12 p-0 d-flex flex-wrap justify-content-end">
                                            <button type="button" onclick="RMAReturn.prototype.DeleteOrderReturn()" id="btnDeleteReturn" name="btnDeleteReturn" class="btn btn-secondary btn-margin-left btnDeleteReturn mr-sm-3 mb-3 mb-sm-0" style="display:none">
                                                @WebStore_Resources.ButtonDeleteReturn
                                            </button>
                                            <button type="button" onclick="RMAReturn.prototype.SaveOrderReturn(false)" id="btnSaveReturn" name="btnSaveReturn" class="btn btn-secondary  btn-margin-left btnSaveReturn mr-sm-3 mb-3 mb-sm-0" style="display:none">
                                                @WebStore_Resources.ButtonSaveReturn
                                            </button>
                                            <button type="button" onclick="RMAReturn.prototype.SaveOrderReturn(true)" id="btnSubmitReturn" name="btnSubmitReturn" class="btn btn-primary btn-margin-left btnSubmitReturn" style="display:none">
                                                @WebStore_Resources.ButtonSubmitReturn
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<link href="~/Views/Themes/B2B/Content/css/fastselect.min.css" rel="stylesheet" />
<script src="~/Scripts/Core/Controls/Fastselect.standalone.js"></script>
<script src="~/Scripts/References/fastselect.mvc.model.js"></script>
<script>
    $(document).ready(function () {
        if ($('#returnOrderTable tbody tr').length <= 0) {
            RMAReturn.prototype.ShowHideButtons(true, false, false);
            $('#errorNoRecordsFound').css('display', 'block');
            $('#returnOrderTable').css('display', 'none');
        }
    });
</script>
