﻿@using Znode.Engine.WebStore.Agents
@{
    int portalId = PortalAgent.CurrentPortal.PortalId;
    bool isHomeRecommendationEnabled = (PortalAgent.CurrentPortal?.RecommendationSetting?.IsHomeRecommendation).GetValueOrDefault();
}
@if (Request.IsAuthenticated)
{
    string message = GlobalAttributeHelper.GetUserMessage();
    if (!string.IsNullOrEmpty(message))
    {
        <div class="container">
            <div class="row">
                <div class="col p-0">
                    <div class="container">
                        <div class="row">
                            <div class="col-12 text-center user-promotion-msg text-break">
                                @message
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }

}
<h1 hidden>Sns Sales</h1>
<div class="container-fluid">
    <div class="row">
        <div class="col p-0 home-slider">
            <!--Home Page Slider Widget-->
            <z-widget>@Html.WidgetPartialAuto("BannerSlider", "Slider", "555", ZnodeCMSTypeofMappingEnum.PortalMapping.ToString(), portalId)</z-widget>
        </div>
    </div>
</div>

<div class="col-12 carousel-card">
    <div class="container">
        <div class="row">
            <div class="col p-0">
                <!--BestSelling Widget-->
                <z-widget>@Html.WidgetPartialAuto("CategoryList", "Category List", "1992", ZnodeCMSTypeofMappingEnum.PortalMapping.ToString(), portalId)</z-widget>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid brands-section">
    <div class="row">  
        <!--Brand Widget-->
        <div class="col-12 carousel-card">
            <div data-test-selector="divBrandWidget">
                <z-widget>
                    @Html.WidgetPartial("BrandList", "BrandList", "9657", ZnodeCMSTypeofMappingEnum.PortalMapping.ToString(), portalId)
                </z-widget>
            </div>
            </div>
        </div>
    </div>

<div class="col-12 carousel-card">
    <div class="container featured-products">
        <div class="row">
            <div class="col featured-products-block">
                <z-widget>@Html.WidgetPartialAuto("ProductList", "Featured Products", "666", ZnodeCMSTypeofMappingEnum.PortalMapping.ToString(), portalId) </z-widget>
            </div>
        </div>
    </div>
</div>

<!--Content Blocks for Contact Us Today and Register Today-->
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 mt-4 text-center">
            <div class="homepageblock1">
                @Html.RenderMessage("ContactUsTodayBlock")
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 mt-4 text-center">
            <div class="homepageblock2">
                @Html.RenderMessage("RegisterTodayBlock")
            </div>

        </div>
    </div>
</div>
<!--About S&S Sales-->
<div class="container">
    <div class="row">
        <div class="col-12 mt-5 mb-5 aboutus-text">
            <z-widget>@Html.WidgetPartialAuto("TextEditor", "Sands AboutUs", "7863", ZnodeCMSTypeofMappingEnum.PortalMapping.ToString(), portalId)</z-widget>
        </div>
    </div>
</div>




