﻿@using Znode.Engine.WebStore.Agents
@using Znode.Libraries.ECommerce.Utilities
@{
    int portalId = PortalAgent.CurrentPortal.PortalId;
    string logo = !string.IsNullOrEmpty(PortalAgent.CurrentPortal.WebsiteLogo) ? MediaPaths.MediaPath + PortalAgent.CurrentPortal.WebsiteLogo : string.Empty;
    string title = PortalAgent.CurrentPortal.WebsiteTitle;
}
<div class="container">
    <div class="footer-container pb-4">
        <div class="row" itemscope itemtype="http://schema.org/WebPage">
            <div class="col-12 col-md-3 footer-block mt-4 mt-md-5">
                <h3 class="footer-header" data-test-selector="lblFooterHelpHeading">@WebStore_Resources.LabelOurProducts</h3>
                @{Html.RenderAction("TopLevelList", "Category", new { profileId = Helper.GetProfileId(), portalId, localeId = Helper.GetLocaleId(), accountId = Helper.GetUserAccountId() }); }
                @*<z-widget>@Html.WidgetPartial("LinkPanel", "Our Products", "2247", ZnodeCMSTypeofMappingEnum.PortalMapping.ToString(), PortalAgent.CurrentPortal.PortalId)</z-widget>*@
            </div>
            <div class="col-12 col-md-3 footer-block mt-4 mt-md-5 p-lg-0">
                <h3 class="footer-header" data-test-selector="lblFooterHelpHeading">@WebStore_Resources.LabelAboutUs</h3>
                <z-widget>@Html.WidgetPartial("LinkPanel", "About Us", "2243", ZnodeCMSTypeofMappingEnum.PortalMapping.ToString(), PortalAgent.CurrentPortal.PortalId)</z-widget>
            </div>
            <div class="col-12 col-md-3 footer-block mt-5">
                <h3 class="footer-header" data-test-selector="lblFooterStoreInfo">@WebStore_Resources.TitleResources</h3>
                <z-widget>@Html.WidgetPartial("LinkPanel", "Resources", "2253", ZnodeCMSTypeofMappingEnum.PortalMapping.ToString(), PortalAgent.CurrentPortal.PortalId)</z-widget>
            </div>
            <div class="col-12 col-md-3 footer-block mt-4 mt-md-5">
                <h3 class="footer-header" data-test-selector="lblFooterStoreInfo">@WebStore_Resources.TitleSNSSales</h3>
                <div class="footer-contact-box">
                    @Html.RenderMessage("FooterPhoneNumber")
                </div>
                <z-widget>@Html.WidgetPartial("LinkPanel", "SNSSales", "2256", ZnodeCMSTypeofMappingEnum.PortalMapping.ToString(), PortalAgent.CurrentPortal.PortalId)</z-widget>
                <img data-src="@logo" alt="@title" class="img-fluid b-lazy" />
            </div>
        </div>

    </div>
</div>

<div class="footer-copyright">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-lg-12 copyright-text key-FooterCopyrightText">
                @Html.RenderMessage(WebStoreConstants.FooterCopyrightText)
            </div>
        </div>
    </div>

</div>
<a href="#layout" class="back-to-top" data-test-selector="linkBackToTop" aria-hidden="true" tabindex="-1"><span class="up-icon"></span><p hidden>up-icon</p></a>
<script>$('[itemtype = "http://schema.org/WebPage"] a').attr("itemprop", "significantLinks");</script>

<script src="https://www.google.com/recaptcha/api.js?render=6LfSXW4dAAAAAM4MgRWeigxwDGqmHZKKD_JdyrH5"></script>
<script>
    function onClick(e) {
        e.preventDefault();
        grecaptcha.ready(function () {
            grecaptcha.execute('6LfSXW4dAAAAAM4MgRWeigxwDGqmHZKKD_JdyrH5', { action: 'submit' }).then(function (token) {
                // Add your logic to submit to your backend server here.
            });
        });
    }
</script>