﻿@model Znode.Engine.Admin.ViewModels.CatalogAssociateCategoryListViewModel
@using Znode.Engine.Admin.Models
@{
    ViewBag.Title = PIM_Resources.TitlePIM + " | " + Admin_Resources.Multifront;
}
<div id="@Model.GridModel.FrontObjectName">
    <div id="aside-popup-panel">
        <div class="col-sm-12 title-container">
            <h1>@Admin_Resources.HeaderAssociateCategories</h1>
            <div class="pull-right">
                <button id="cancle-associated-category" data-test-selector="linkCancel" type="button" class="btn-text-icon margin-bottom-8" onclick="Catalog.prototype.CloseUnassociateCategoryPopup();"><i class='z-back'></i>@Admin_Resources.ButtonCancel</button>
                <div class="pull-right">
                    <button data-test-selector="linkAssociate" class="btn-text btn-text-secondary" onclick="Catalog.prototype.AssociateCategories()">@PIM_Resources.LabelAssociate</button>
                    @Html.HiddenFor(m => m.ProfileCatalogId)
                </div>
            </div>
        </div>
        <div class="col-sm-12 page-container">
            <div class="col-sm-12 nopadding notification-msg" id="body">
                <div class="messageBoxContainer error-msg text-center margin-bottom" id="error-unassociated-category"></div>
            </div>
            @using (Ajax.BeginForm("UnAssociatedCategoriesForProfile", "Catalog", new { pimCatalogId = Model.PimCatalogId, profileCatalogId = Model.ProfileCatalogId, pimCategoryId = Model.PimCategoryId, pimCategoryHierarchyId = Model.PimCategoryHierarchyId }, new AjaxOptions() { UpdateTargetId = Model.GridModel.FrontObjectName, OnSuccess = "" }, new { @id = "searchform" }))
            {
                <div id="filterComponent">
                    @Html.Partial("~/Views/DynamicGrid/_FilterComponent.cshtml", Model.GridModel.FilterColumn)
                </div>
            }
            <div class="col-sm-12 list-container">
                @{
                    @Html.Partial("~/Views/DynamicGrid/_DynamicGrid.cshtml", Model.GridModel)
                }
            </div>
            @Html.HiddenFor(m => m.ProfileId)
         </div>
    </div>
</div>