﻿@using Znode.Engine.Admin.ViewModels
@using Znode.Libraries.ECommerce.Utilities;
@model DashboardListViewModel

@*<h3 class="margin-left-20">@Admin_Resources.LabelTopProducts</h3>*@
<div class="d-flex flex-wrap justify-content-between padding-top padding-bottom table-heading-section">
    <h2 class="margin-left-15">Products</h2>
    <div class="margin-right-15">
        <button class=" btn-text btn-text-secondary">button</button>
    </div>
</div>
<table class="table">
    <thead class="thead-default">
        <tr>
            <th>@Admin_Resources.LabelProduct</th>
            <th>@Admin_Resources.LabelSKU</th>
            <th>@Admin_Resources.LabelOrders</th>
            <th>@Admin_Resources.LabelSales</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.DashboardViewModelList.Count > 0 && Model.DashboardViewModelList.Any(x => string.Equals(x.Type, ZnodeConstant.Product, StringComparison.InvariantCultureIgnoreCase)))
        {
            foreach (DashboardTopItemsViewModel item in Model.DashboardViewModelList)
            {
                if (string.Equals(item.Type, ZnodeConstant.Product, StringComparison.InvariantCultureIgnoreCase))
                {
                    <tr>
                        <td>@Html.RenderBlock(item.Products)</td>
                        <td>@Html.RenderBlock(item.SKU)</td>
                        <td>@item.Orders</td>
                        <td>@item.Sales</td>
                    </tr>
                }
            }
        }
        else
        {
            <tr>
                <td colspan="3">@Admin_Resources.NoRecordFoundText</td>
            </tr>
        }
    </tbody>
</table>
