﻿@model Znode.Engine.Admin.ViewModels.SearchAttributesListViewModel
<div id="@Model.GridModel.FrontObjectName">
    <div id="aside-popup-panel">
        <div class="col-sm-12 title-container">
            <h1>Facets</h1>
            <div class="pull-right">
                <button type="button" class="btn-text-icon" onclick="ZnodeBase.prototype.CancelUpload('divSearchAttributePopup')" data-test-selector="linkCancel"><i class="z-back"></i>@Admin_Resources.ButtonCancel</button>
                <div class="pull-right">
                    <button type="button" class="btn-text btn-text-secondary" onclick="Search.prototype.AssociateSearchAttributesToProfile(@Model.SearchProfileId)" data-test-selector="linkSave">Associate Facets</button>
                </div>
            </div>
        </div>
        <div class="col-sm-12 page-container">
            <div id="associatedAttributeId" style="display:none">
                <div class="col-sm-12 nopadding notification-msg margin-bottom" id="body">
                    <div class="messageBoxContainer error-msg text-center" id="messageBoxContainerId">@Admin_Resources.PleaseSelectAtleastOneRecord</div>
                </div>
            </div>
            @using (Ajax.BeginForm("GetUnAssociatedCatalogAttributes", "Search", new { searchProfileId = Model.SearchProfileId }, new AjaxOptions() { UpdateTargetId = Model.GridModel.FrontObjectName, OnSuccess = "GridPager.prototype.GridUpdateHandler" }, new { @id = "searchform" }))
            {
                <div id="filterComponent">
                    @Html.Partial("~/Views/DynamicGrid/_FilterComponent.cshtml", Model.GridModel.FilterColumn)
                </div>
            }
            <div class="col-sm-12 list-container">
                @{
                    @Html.Partial("~/Views/DynamicGrid/_DynamicGrid.cshtml", Model.GridModel)

                }
            </div>
        </div>
    </div>
</div>
@Html.HiddenFor(x => x.SearchProfileId)
